

/* .mainPage {
  height: 1000px;
  background-image: url("https://lonelyplanetwp.imgix.net/2012/01/8025995258_0336edab9e_o.jpg?fit=min&q=40&sharp=10&vib=20&w=1470");
  background-repeat: no-repeat;
  background-size: 1000px;
  opacity: .5;
} */

/* #welcome {
  opacity: 1;
  z-index: 3;
}

#mainPage {
  opacity: 0.75;
  background-image: url("https://lonelyplanetwp.imgix.net/2012/01/8025995258_0336edab9e_o.jpg?fit=min&q=40&sharp=10&vib=20&w=1470") ;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  height: 800px;
  width: 100%;
  position: relative;
  z-index: 1;
} */


.h1 {
  margin-top: -1000px;
}

.NavBar {
  position: fixed;
  width: 100%;
  background: rgba(173,216,230);
  height: 42px;
  z-index: 3;
}

#topSpacing {
  margin-top: 100px;
}

.explore {
  margin: 54px auto auto auto;
  width: 50%;
  z-index: 1;
}
