.NavBar {
  position: fixed;
  width: 100%;
  background: rgba(173,216,230);
  height: 42px;
  z-index: 3;
}

#topSpacing {
  /* margin-top: 100px; */
}

.explore {
  margin-top: 54px;
}

.manageTopMargin {
  margin-top: 50px;
  text-align: center;
}

.myCarousel {
  height: 500px;
}

.sidebarMenu {
  position: fixed;
}

.right.menu.loginLogoutBtn {
  margin-right: 30px;
}


/* Explore cards for the home page  */
#exploreCardContainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.eachDestinationCard {
  margin: 1%;
}
/* ********************************** */

h1 {
  font-family: 'Pacifico', cursive;
}

h4 h2 {
  color: rgba(0,0,0);
  font-family: 'Gilda Display', serif;
}


/*  SHOW MY PROFILE PAGE ..............  */
.myProfile {
  align: center;
  margin: 2%;
}

.profileInfo {
  border-style: ridge;
  height: 800px;
  margin: auto 20%;
}

.editProfileInfo {
  border-style: ridge;
  height: 500px;
  margin: 3% 20%;
}

.editProfileForm {
  margin: 3%;
}

/****************************************  */

/*********TOP DESTINATION CARD **********  */
.eachDestinationCard {
  box-shadow: 5px 6px 5px 6px #888888;
  /* background-color: rgb(102, 188, 210,0.5); */
  background-image: url('https://images.unsplash.com/photo-1489537235181-fc05daed5805?ixlib=rb-1.2.1&auto=format&fit=crop&w=1051&q=80')
}
/****************************************  */

/************ LOGIN AND SIGNUP FORM *****************  */
.ui.card.loginForm {
  margin-left: 40%;
}

.ui.card.signUpForm {
  margin-left: 25%;
  margin-right: 25%;
  width: auto;
}
/****************************************  */


/**********DESTINATION SHOW PAGE**********  */
.eachDestinationShowPageImages {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

#secondRow {
  /* background-color: rgb(73, 188, 213); */
  background-image: url('https://www.backpacker.com/.image/t_share/MTU3OTkxNTk4MTk2NTMyNzQw/bp1018ednote_annapurana.png');
  background-repeat: no-repeat;
   background-size: cover;
}

.firstcolumn {
  border-style: ridge;
  border-radius: auto;
  /* background-color: rgba(18, 152, 194, 0.70) */
  background-color: rgba(226, 232, 237, 0.85)
}

.ui.card.moreImages {
  margin: 2%;
}

.reviewObjects {
  font-family: 'Markazi Text', serif;
  font-size: 20px;
}

.manageDestinationTopMargin {
  margin-top: 50px;
}

.backButton {
  margin-left: 85%;
}

/****************************************  */

.welcome {
  padding-top: 400px;
}

.mainContainer {
 background-image: url('https://www.backpacker.com/.image/t_share/MTU3OTkxNTk4MTk2NTMyNzQw/bp1018ednote_annapurana.png');
 /* position: fixed; */
 background-repeat: no-repeat;
 background-size: cover;
 /* margin-left: -15px; */
 /* width: 100%; */
 /* height: 100%; */
/* opacity: 0.7; */
/* z-index: -1; */
}
