

/* .mainPage {
  height: 1000px;
  background-image: url("https://lonelyplanetwp.imgix.net/2012/01/8025995258_0336edab9e_o.jpg?fit=min&q=40&sharp=10&vib=20&w=1470");
  background-repeat: no-repeat;
  background-size: 1000px;
  opacity: .5;
} */

/* #welcome {
  opacity: 1;
  z-index: 3;
  text-align: center;
  margin-top: 96px;
}



#mainPage {
  opacity: 0.75;
  background-image: url("https://lonelyplanetwp.imgix.net/2012/01/8025995258_0336edab9e_o.jpg?fit=min&q=40&sharp=10&vib=20&w=1470") ;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  height: 800px;
  width: 100%;
  position: relative;
  z-index: 1;
  position: fixed;
} */


.NavBar {
  position: fixed;
  width: 100%;
  background: rgba(173,216,230);
  height: 42px;
  z-index: 3;
}

#topSpacing {
  /* margin-top: 100px; */
}

.explore {
  margin-top: 54px;
}

.manageTopMargin {
  margin-top: 50px;
  text-align: center;
}

.myCarousel {
  height: 500px;
}

.sidebarMenu {
  position: fixed;
}

.right.menu.loginLogoutBtn {
  margin-right: 30px;
}


/* Explore cards for the home page  */
#exploreCardContainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.eachDestinationCard {
  margin: 1%;
}
/* ********************************** */

h1 {
  font-family: 'Pacifico', cursive;
}

h4 h2 {
  color: rgba(0,0,0);
  font-family: 'Gilda Display', serif;
}

/*  SHOW MY PROFILE PAGE ..............  */
.myProfile {
  align: center;
  margin: 2%;
}

.profileInfo {
  border-style: ridge;
  height: 800px;
  margin: auto 20%;
}

.editProfileInfo {
  border-style: ridge;
  height: 500px;
  margin: 3% 20%;
}

.editProfileForm {
  margin: 3%;
}

/****************************************  */

/*********TOP DESTINATION CARD **********  */

/****************************************  */

/************ LOGIN AND SIGNUP FORM *****************  */
.ui.card.loginForm {
  margin-left: 42%;
}

.ui.card.signUpForm {
  margin-left: 25%;
  margin-right: 25%;
  width: auto;
}


/****************************************  */

.welcome {
  padding-top: 400px;
}
